@model IEnumerable<SistemaMatriculacion.Models.ESTUDIANTE>

@{
    ViewBag.Title = "Index";
}

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="index.html"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Logearse.html">Logearse</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="nosotros.html">sobre nosotros</a>
                </li>
                <!--<li class="nav-item">
                  <a class="nav-link" href="cursos.html">Cursos</a>
                </li>
                 <li class="nav-item">
                  <a class="nav-link" href="Materia.html">Materia</a>
                </li>-->
            </ul>
        </div>
    </div>
</nav>

<!-- Page Header -->
<header class="masthead" style="background-image: url('../../Images/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Estudiantes del colegio.</h1>
                    <span class="subheading"></span>
                </div>
            </div>
        </div>
    </div>
</header>


<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NOMBRE_ESTUDIANTE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.APELLIDO_ESTUDIANTE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FECHA_NACIMIENTO_ESTUDIANTE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SEXO_ESTUDIANTE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DIRECCION_ESTUDIANTE)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NOMBRE_ESTUDIANTE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.APELLIDO_ESTUDIANTE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FECHA_NACIMIENTO_ESTUDIANTE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SEXO_ESTUDIANTE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DIRECCION_ESTUDIANTE)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MATRICULA }) |
                @Html.ActionLink("Details", "Details", new { id = item.MATRICULA }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MATRICULA })
            </td>
        </tr>
    }

</table>
