@model SistemaMatriculacion.Models.SECCION_MATERIA

@{
    ViewBag.Title = "Horarios";
}

<h2>Details</h2>

<div>
    <h4>Horarios</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HORARIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HORARIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MATERIA.NOMBRE_MATERIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MATERIA.NOMBRE_MATERIA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PROFESOR.NOMBRE_PROFESOR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PROFESOR.NOMBRE_PROFESOR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SECCION.NOMBRE_SECCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SECCION.NOMBRE_SECCION)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {id1=Model.ID_SECCION,id2=Model.ID_MATERIA}) |
    @Html.ActionLink("Back to List", "Index")
</p>
