@model IEnumerable<SistemaMatriculacion.Models.SECCION_MATERIA>

@{
    ViewBag.Title = "Creacion de horarios";
}

<h2>Crear Horarios</h2>

<p>
    @Html.ActionLink("Crear Horario", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HORARIO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MATERIA.NOMBRE_MATERIA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PROFESOR.NOMBRE_PROFESOR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SECCION.NOMBRE_SECCION)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HORARIO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MATERIA.NOMBRE_MATERIA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PROFESOR.NOMBRE_PROFESOR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SECCION.NOMBRE_SECCION)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id1 = item.ID_SECCION, id2 = item.ID_MATERIA }) |
            @Html.ActionLink("Detalle", "Details", new {  id1=item.ID_SECCION, id2= item.ID_MATERIA }) |
            @Html.ActionLink("Borrar", "Delete", new { id1 = item.ID_SECCION, id2 = item.ID_MATERIA })
        </td>
    </tr>
}

</table>
