
@{
    ViewBag.Title = "admin";
}

<header class="masthead" style="background-image: url('../../Images/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Dashboard Admin</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">


    <div class="row" style="margin-top:30px;">

        <div class="col-md-4" style="border:1px solid black; border-radius:5px 5px 5px 5px;">
            <h3>Secciones</h3>

            @Html.ActionLink("Agregar Seccion", "Create","Seccion") 

        </div>

        <div class="col-md-4" style="border:1px solid black; border-radius:5px 5px 5px 5px;">
            <h3>Profesores</h3>

            @Html.ActionLink("Agregar Profesor", "Create", "Profesor")
            
        </div>

        <div class="col-md-4" style="border:1px solid black; border-radius:5px 5px 5px 5px;">
            <h3>Estudiantes</h3>

            @Html.ActionLink("Agregar Estudiante", "Create", "Estudiante")
        </div>

        <div class="col-md-4" style="border:1px solid black; border-radius:5px 5px 5px 5px;">
            <h3>Horarios</h3>

            @Html.ActionLink("Agregar Horario", "Create", "SECCION_MATERIA")
        </div>

        <div class="col-md-4" style="border:1px solid black; border-radius:5px 5px 5px 5px;">
            <h3>Materias</h3>

            @Html.ActionLink("Agregar Materia", "Create", "Materia")
        </div>

        </div>
    </div>
</div>
