@model SistemaMatriculacion.Models.PROFESOR

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PROFESOR</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE_PROFESOR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE_PROFESOR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.APELLIDO_PROFESOR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APELLIDO_PROFESOR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHA_NACIMIENTO_PROFESOR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_NACIMIENTO_PROFESOR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SEXO_PROFESOR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEXO_PROFESOR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIRECCION_PROFESOR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIRECCION_PROFESOR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TELEFONO_PROFESOR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TELEFONO_PROFESOR)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
