@model IEnumerable<SistemaMatriculacion.Models.PROFESOR>
@{
    ViewBag.Title = "Index";
}




<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="index.html"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Profesores", "Index", "PROFESOR")
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Estudiantes", "Index", "ESTUDIANTE")
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Materias", "Index", "MATERIA")
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Horarios", "Index", "SECCION_MATERIA")
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Secciones", "Index", "SECCION")
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Header -->
<header class="masthead" style="background-image: url('../../Images/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Profesores.</h1>

                </div>
            </div>
        </div>
    </div>
</header>

<div class=" container">
    <p>
        <a class="btn btn-link active">
            @Html.ActionLink("Crear nuevo profesor", "Create", null, new { @class = "boton create" })
        </a>

    </p>
    <table class="table">
        <tr class="thead-light">
            <th>
                @Html.DisplayNameFor(model => model.NOMBRE_PROFESOR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.APELLIDO_PROFESOR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FECHA_NACIMIENTO_PROFESOR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SEXO_PROFESOR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DIRECCION_PROFESOR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TELEFONO_PROFESOR)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NOMBRE_PROFESOR)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.APELLIDO_PROFESOR)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FECHA_NACIMIENTO_PROFESOR)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SEXO_PROFESOR)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DIRECCION_PROFESOR)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TELEFONO_PROFESOR)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.ID_PROFESOR }, new { @class = "boton" }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.ID_PROFESOR }, new { @class = "boton" }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.ID_PROFESOR }, new { @class = "boton" })
                </td>
            </tr>
        }
    </table>

</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a href="#">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                </ul>
                <p class="copyright text-muted">Copyright &copy; Your Website 2018</p>
            </div>
        </div>
    </div>
</footer>

