@model IEnumerable<SistemaMatriculacion.Models.SECCION>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NOMBRE_SECCION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CANTIDAD_ESTUDIANTES)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HORARIO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NOMBRE_SECCION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CANTIDAD_ESTUDIANTES)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HORARIO)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_SECCION }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_SECCION }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_SECCION })
        </td>
    </tr>
}

</table>
